body{
    margin: 0%;
    padding: 0%;
    background: #fff;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
}
h1, h2{
    text-align: center;
}
.centerTop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.formInp{
    width: 60%;    
}
.formSearch{
    border: none;
    background: inherit;
    border-bottom: 2px solid #0b28a8;
    width: 80%;
    padding: 1%;
    font-size: 18px;
    font-weight: bold;
    color: #3b3939;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.imgLoad img{
    width: 300px;
}
.imgLoad p{
    margin-top: -4%;
    font-size: 20px;
}
.searchBtn{
    width: 16%;
    margin: 0% 1%;
    padding: 1%;
    border: none;
    border-radius: 4px;
    background: #0b28a8;
    color: #fff;
    font-size: 18px;
}

.extraDet{
    width: 100%;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    /* background: pink; */
}
.det{
    display: flex;
    flex-direction: column;
    background: rgb(233, 233, 233);
    box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
    text-align: center;
    /* line-height: 100px; */
    font-size: 30px;
    padding:2% 4%;
}
.det img{
    width: 100px;
    height: 100px;
    margin: 1%;
    font-size: 18px;
    font-weight: normal;
}